.container{
    width: 65% !important;
    margin: 0 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    margin: 10px 0;
    width: 90%;
}
textarea{
    width: 90%;
    margin-top: 10px;
}
.btn{
    margin: 20px 0;
    width: 30%;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 21px;
}
*{
    font-family: "Raleway", sans-serif;
}
label{
    width: 90%;
    font-size: medium;
    font-weight: 600;

}
.container-form{
    width: 35%;
    margin: 20px;
}
.mainBody{
    display: flex;
   
}
.formContainer{
    padding: 20px 0;
    box-shadow: 0 4px 8px rgb(0 0 0 / 66%), 0 6px 20px rgb(0 0 0 / 32%);
    border-radius: 10px;
}
.formPreview{
    box-shadow: 0 4px 8px rgb(0 0 0 / 66%), 0 6px 20px rgb(0 0 0 / 32%);
}
.formHeading{
    font-size: 28px;
    font-weight: 600;
}